body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light grey background */
}

.button-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%; /* Each button takes up 10% of the height */
    width: 100%;
    background-color: #ffffff; /* White background */
    border: none;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures content does not overflow */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    margin: 5px 0; /* Space between buttons */
}

.button:hover {
    background-color: #eaeaea; /* Slightly darker background on hover */
}

.button img {
    width: 50px; /* Icon width */
    height: 50px; /* Icon height */
    border-radius: 50%; /* Rounded icon corners */
    margin-bottom: 10px; /* Space between icon and text */
}

.button p {
    margin: 0;
    padding: 10px 0;
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
}